:root {
  --background-color: #c9cbff;
  --text-color: #1a1826;
  --link-color: #96cdfb;
}

/* adds dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #302d41;
    --text-color: #d9e0ee;
    --link-color: #96cdfb;
  }
}
/* LAYOUT */

/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/space-mono-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/space-mono-v10-latin-regular.woff") format("woff");
}
body {
  font-family: "Space Mono";
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 100%;
  line-height: 1.5;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.content {
  margin-bottom: 2rem;
}

/* SET FONTS */

h1 {
  font-family: "Space Mono";
}

h2 {
  font-family: "Space Mono";
}

h3 {
  font-family: "Space Mono";
}

a {
  font-family: "Space Mono";
  color: var(--link-color);
  /* color: #7e21d4; */
}

p {
  font-family: "Space Mono";
}

time {
  font-family: "Space Mono";
}

li {
  font-family: "Space Mono";
}

ul {
  font-family: "Space Mono";
}

main {
  font-family: "Space Mono";
}

body {
  font-family: "Space Mono";
}
/* NAVIGATION */

.site-nav {
  display: flex;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  /* font-weight: bold; */
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
