</main>
      
<footer>

   <br>
   <a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="rss feed"></a>
<a href="https://github.com/indigomarxist/indigomarxist.github.io"><img src="https://xo.wtf/image_proxy?url=https%3A%2F%2Fcdn3d.iconscout.com%2F3d%2Ffree%2Fthumb%2Fgithub-1-5645865-4695723.png&h=bdf4f0d99b9edd287dc4769c1eaf6bc2c05358092d5707be75c23fd21235cf32" style="max-height:2.5em" alt="github"></a>
   <p>{{ dateFormat "2006" now }} <br> {{ .Site.Title }}</p>

</footer>

</body>

</html>
